.information_comp{
    background-color: rgb(223, 223, 223);
    margin: 20px 0px;
    border: 1px solid black;
    padding: 10px;
}
.information_comp span{
    color: rgb(230,30,30);
    font-weight: bold;
}