.container{
    min-height:100vh;
}
.center{
	width: 100%;
    padding-top:100px;
    min-height: 90vh;
}


#search_book_zone{
    padding-top:10px;
    height: 100%;
    min-height: 100px;
}
#search_book_zone form p{
    padding: 10px 0;
}







input[type="submit"]{
	border: none;
	font-weight: bold;
	color: white;
	background-color: #3366ff;
	border-radius: 30px;
	text-align: center;
    text-transform : uppercase;
    display: inline-block;
	margin:30px 30%;
	height: 40px;
	font-style: uppercase;
	font-size: 1.15em;
	width:200px;

}	
input[type="submit"]:hover{
	background:#0066ff;
	transition: all .6s;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.548);
}



label[for='search_nom_oeuvre'], label[for='type_oeuvre'],label[for='categorie_oeuvre'],label[for='auteur_oeuvre']{
	font-size:1.15em;
}

#search_nom_oeuvre, #type_oeuvre, #categorie_oeuvre, #auteur_oeuvre{
	display: block;
	margin-top: 10px;
	padding: 0 15px;
	font-size: 1.2em;
	border: 2px solid #ccc;
	border-radius: 5px;
	width: 100%;
	max-width: 1000px;
	height:45px;
}

.oeuvre{
    padding: 10px 20px;
    background-color:#f0f0f0;
    color: rgb(34, 34, 34);
    border-radius: 10px;
    border: 5px solid #6699ff;
}

.oeuvre > * {
    margin:15px 0;
}

.oeuvre h3{
    font-size: 1.35em ;
}

.oeuvre  strong{
    font-weight: bolder;
    color:  #0066ff ;
}

.oeuvre p{
    text-align: justify;
    max-height: 200px;
    overflow: hidden;

}

.oeuvre p strong{
    display: block;
    height: 100%;
    margin-bottom:3px;

}

#list_oeuvre  a{
    display: block;
    margin:30px 0;
    text-decoration: none;
}

#list_oeuvre  a > .oeuvre {
    transition: all .2s;

}

#list_oeuvre  a:hover > .oeuvre {
    box-shadow: 10px 10px 50px rgba(75, 75, 75, 0.856);
    transition: all .5s;
}




.links_search_page {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.links_search_page > * {
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-between;

}

.links_search_page a{
    color: #0066ff ;
    font-weight: bold;
}

.links_search_page .previous{
    text-align: left;
}

.links_search_page .next{
text-align: right;
}

.links_search_page p{
    padding: 27px 0 ;
    text-align: center;
}
#information_oeuvre{
    padding-bottom: 200px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

#information_oeuvre .parti1{
    display: flex;
    padding-top: 30px;
    flex-direction:row;
}
#information_oeuvre .parti2{
    padding: 15px 0;
    width:100%;
}

#information_oeuvre img {
    margin-right: 3%;
    margin-bottom: 40px;
    width: 350px;
}


#information_oeuvre h2 {
    margin-right: 0;
    margin-left: 2%;
    color: black;
    font-size: 1.5em;
    padding: 8px 0;
    width:100%;


}


#information_oeuvre .parti2 h2 strong {
    display: block;
    font-size:1.06em;
    color:#33a7ff;
    padding-bottom: 3px;
}
#information_oeuvre .parti3 h2{
 padding:3px 2%;

}

#information_oeuvre .parti3 p{
    max-width:900px;
    text-align: justify;
}

@media (min-width:1550px) {
    #information_oeuvre{
        padding-bottom: 200px;
        padding-top: 10px;
        padding-left:  27%;
        padding-right: 27%;
    }
    .h1_doc_liv{
        padding:10px 32%;
    }
}
.parti3 h2{
    margin-top:20px;
}
.parti3 h2 strong {
    color:#33a7ff;
    font-size:1.14em;


}
